<header class="header">
  <div class="logo">
    <a href="/">
      <img src="{{ .Site.BaseURL }}img/xalapacode/4oaniv.png" alt="Logotipo xalapacode" oncontextmenu="window.location.href = '/identidad'">
    </a>
  </div>
  <nav class="nav">
    <div class="menu">
      <div class="menu-section">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
      <div class="menu-section social-media">
        {{ range .Site.Menus.social }}
          <a href="{{.URL }}"><img src="/img/{{ .Name }}.svg" alt="{{ .Name }} icon" class="svg"></a>
        {{ end }}
      </div>
    </div>
  </nav>
</header>
