<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-blog">
  {{ partial "header.html" . }}

  <main class="main">
    <div class="container">
      {{ range .Data.Pages.ByPublishDate.Reverse }}
        <div class="post">
          <div class="post-title">
            <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
            <p>Autor: <a href="{{ .Params.author_uri }}">{{ .Params.author }}</a></p>
          </div>
          <div class="post-content">
           <p> {{ .Params.description }}</p>
           <p>{{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} de {{ .Date.Year }}</p>
          </div>
          <div class="post-footer">
            <a href="{{ .Permalink }}">Leer más</a>
          </div>
        </div>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
